* LIST ITERATION OPERATION WITH LOOP
* APPLY ANY OPERATION ON LIST

In [ ]:
names : list[str] = ["A","B","C"]
print(names)

['A', 'B', 'C']