# PYTHON OPERATORS

### Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# ARITHMETIC OPERATORS

In [2]:
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [3]:
a : int = 10
b : int = 20
a+b

30

In [4]:
a-b

-10

In [5]:
a*b

200

In [6]:
a/b

0.5

In [7]:
a%b

10

In [8]:
a**b

100000000000000000000

In [9]:
a//b

0

In [11]:
23.34//2

11.0

# ASSIGNMENT OPERATORS

In [12]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [16]:
a : int = 45
print(a)
a  += 23
print(a)

45
68

# COMPARISON OPERATORS

In [17]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [18]:
x : int = 7
y : int = 8
x==y

False

In [19]:
x!=y

True

In [20]:
x>y

False

In [21]:
x<y

True

In [22]:
x>=y

False

In [23]:
x<=y

True

# LOGICAL OPERATORS

In [24]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [25]:
x : int = 5
y ; int = 9
x > y and x<10

False

In [26]:
x > y or x < 10

True

In [27]:
not (x==10)

True

# INTERESTING THING

In [29]:
x : str = 99
y : int = 99
x == y

True

# Because of the ASCII Code<br>
###### A = 64<BR>Z = 90<br><br>a = 97<br>z = 122<br><br>0 = 48<br>9 = 57

In [31]:
a : str = 'A'
b : str = 'B'
a < b

True

In [33]:
a : str = "a"
b : str = "B"
a > b

True

# Chr() and ord()

In [34]:
chr(65)

'A'

In [36]:
chr(99)

'c'

In [37]:
ord('A')

65

In [38]:
ord('c')

99

# IDENTITY OPERATORS

In [40]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [41]:
x : int = 45
y : int = 34
x is y

False

In [42]:
x is not y

True

In [43]:
x : str = 'abc'
y : str = 'xyz'
x is y

False

In [44]:
x : str = 'abc'
y : str = 'abc'
print(id(x))
print(id(y))

140714035450120
140714035450120

In [45]:
x is y

True

# MEMBERSHIP OPERATORS

In [46]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [50]:
names : list[str] = [chr(i) for i in range(65,91)]
print(names)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [52]:
for i in range(len(names)):
    print(i,names[i])

0 A
1 B
2 C
3 D
4 E
5 F
6 G
7 H
8 I
9 J
10 K
11 L
12 M
13 N
14 O
15 P
16 Q
17 R
18 S
19 T
20 U
21 V
22 W
23 X
24 Y
25 Z

In [53]:
for i in range(len(names)):
    print(i,names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

#### It took alot of time and code to find the D in the list for this we use Membership <b>in</b> operator

In [55]:
display("D" in names)

True

In [56]:
display("Kanwal" not in names)

True

### is ram main check krta h while in list ys data structure m hi check krrha hota h

In [58]:
uinput : str = input("Enter your name:")
print(uinput)
print(uinput in names)

A
True

In [59]:
uinput : str = input("Enter your name:")
print(uinput)
print(uinput not in names)

Kanwal
True

# OPERATOR PRECEDENCE

<img src="https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

In [61]:
print(3 + 2 - 2 * 4 / 2 + 2)

3.0

# PEMDAS

In [62]:
# 3+2-8/2+2
# 3+2-4+2
# 5-4+2
# 1+2
# 3

# Underscores in numbers

In [63]:
num1 : int = 14_000_000_000
print(type(num1),num1)

<class 'int'> 14000000000

# Zip & Unzip Operators

In [66]:
#zip
a , b , c = 1 , 2.0 , "Kanwal"
print(a,b,c)

1 2.0 Kanwal

In [68]:
#unzip
data = [1 , 2.0 , "Kanwal"]  #zip
print(data[0],data[1],data[2]) #unzip
#but boht mehnat lg rhi is unzipping m

1 2.0 Kanwal

In [69]:
#unzip
data = [1 , 2.0 , "Kanwal"]  #zip
print(*data) #unzip

1 2.0 Kanwal

In [73]:
name : str = "Kanwal"
display(*name)

'K'

'a'

'n'

'w'

'a'

'l'

# Walrus Operator


* The "walrus operator" is a nickname for the assignment expression operator (:=) introduced in Python 3.8. It's called the walrus operator because it somewhat resembles the eyes and tusks of a walrus (:=).

* In simplest terms, the walrus operator allows you to assign values to variables as part of an expression. It helps you avoid repetitive code and can make your code more concise and readable.

In [74]:
a : int = 5

In [75]:
if ( a < (b := a + 5)):
    print("If is working")
else:
    print("Else is working")

If is working

In [76]:
# Without walrus operator
x = 10
if x > 5:
    print(x)

# With walrus operator
if (x := 10) > 5:
    print(x)

10
10

# ZEN OF PYTHON

In [77]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!