# String Datatype In Python

In [ ]:
#boundaries
#'str' , "str", """str""",'''str'''

In [1]:
name : str = 'Kanwal'
print(type(name))
print(name)

<class 'str'>
Kanwal

In [2]:
name : str = "Kanwal"
print(type(name))
print(name)

<class 'str'>
Kanwal

In [3]:
name : str = '''Kanwal'''
print(type(name))
print(name)

<class 'str'>
Kanwal

In [4]:
name : str = """Kanwal"""
print(type(name))
print(name)

<class 'str'>
Kanwal

In [7]:
message : str = "PIAIC Student Card \nFather's Name"
print(message)

PIAIC Student Card
Father's Name

In [8]:
message : str = "PIAIC Student Card \nFather\"s Name"
print(message)

PIAIC Student Card
Father"s Name

In [9]:
message : str = 'PIAIC Student Card \nFather\"s Name'
print(message)

PIAIC Student Card
Father"s Name

### integers cannot be calculated

In [16]:
name : str = "Kanwal"
fname : str = "Muhammad Fayyaz"
education : str = "BSE"
age : int = 20

card : str = "PIAIC STUDENT CARD\nStudent Name:"+name+"\nFather Name:"+fname+"\nEducation:"+education+"\nAge:"+age
print(card)

TypeError: can only concatenate str (not "int") to str

### They need to be converted to the string using typecasting functions str()

In [17]:
name : str = "Kanwal"
fname : str = "Muhammad Fayyaz"
education : str = "BSE"
age : int = 20

card : str = "PIAIC STUDENT CARD\nStudent Name:"+name+"\nFather Name:"+fname+"\nEducation:"+education+"\nAge:"+str(age)
print(card)

PIAIC STUDENT CARD
Student Name:Kanwal
Father Name:Muhammad Fayyaz
Education:BSE
Age:20

### When we have multiple lines data

In [19]:
print(8+2+8+9+8+700+\
      234+45+89+9000+\
      34+23+23+11+44)

10238

### Define Multilines strings

In [22]:
name : str = "Kanwal"
fname : str = "Muhammad Fayyaz"
education : str = "BSE"
age : int = 20

card : str = """
PIAIC STUDENT ADMIT CARD
Name : 
Father Name :
Education : 
Age : 
"""

print(card)

PIAIC STUDENT ADMIT CARD
Name :
Father Name :
Education :
Age :

### f - strings

In [24]:
name : str = "Kanwal"
fname : str = "Muhammad Fayyaz"
education : str = "BSE"
age : int = 20

card : str = f"""
PIAIC STUDENT ADMIT CARD
Name : {name}
Father Name : {fname}
Education : {education}
Age : {age}
"""

print(card)

PIAIC STUDENT ADMIT CARD
Name : Kanwal
Father Name : Muhammad Fayyaz
Education : BSE
Age : 20

### We have 2 styles <br>(1) f string <br>(2) Jinja Style

In [30]:
#jinja
#mostly used on the web server 
name : str = "Kanwal"

print("""{{name}}""")

#f-string
#mostly widely used in lang chan
name : str = "Kanwal"

f"""{name}"""

{{name}}

'Kanwal'

In [31]:
name : str = "Kanwal"
fname : str = "Muhammad Fayyaz"
education : str = "BSE"
age : int = 20

card : str = f"""
PIAIC STUDENT ADMIT CARD
Name : %s
Father Name : %s 
Education : %s
Age : %d
""" % (name,fname,education,age)

print(card)

PIAIC STUDENT ADMIT CARD
Name : Kanwal
Father Name : Muhammad Fayyaz
Education : BSE
Age : 20

In [33]:
name : str = "kaNwal"
print(name.capitalize())

Kanwal

In [34]:
a = 7
b = 9
"Value of a = {} and value of b = {}".format(a,b)

'Value of a = 7 and value of b = 9'

In [36]:
name : str = "Kanwal"
fname : str = "Muhammad Fayyaz"
education : str = "BSE"
age : int = 20

card : str = """
PIAIC STUDENT ADMIT CARD
Name : {}
Father Name : {} 
Education : {}
Age : {}
""".format(name,fname,education,age)

print(card)

PIAIC STUDENT ADMIT CARD
Name : Kanwal
Father Name : Muhammad Fayyaz
Education : BSE
Age : 20

### But what i replace the fname and name in format <br>I will have the wrong information

In [37]:
name : str = "Kanwal"
fname : str = "Muhammad Fayyaz"
education : str = "BSE"
age : int = 20

card : str = """
PIAIC STUDENT ADMIT CARD
Name : {}
Father Name : {} 
Education : {}
Age : {}
""".format(fname,name,education,age)

print(card)

PIAIC STUDENT ADMIT CARD
Name : Muhammad Fayyaz
Father Name : Kanwal
Education : BSE
Age : 20

### You can place index number as well

In [40]:
name : str = "Kanwal"
fname : str = "Muhammad Fayyaz"
education : str = "BSE"
age : int = 20

card : str = """
PIAIC STUDENT ADMIT CARD
Name : {3}
Father Name : {1} 
Education : {0}
Age : {2}
""".format(name,fname,education,age)
#            3    1    0          2

print(card)

PIAIC STUDENT ADMIT CARD
Name : 20
Father Name : Muhammad Fayyaz
Education : Kanwal
Age : BSE

In [43]:
name : str = "Kanwal"
fname : str = "Muhammad Fayyaz"
education : str = "BSE"
age : int = 20

card : str = """
PIAIC STUDENT ADMIT CARD
Name : {a}
Father Name : {b} 
Education : {c}
Age : {d}
""".format(a=name,b=fname,c=education,d=age)
#            a    b    c         d

print(card)

PIAIC STUDENT ADMIT CARD
Name : Kanwal
Father Name : Muhammad Fayyaz
Education : BSE
Age : 20

### Explore f-strings methods & attributes

In [46]:
a : list[str] = [i for i in dir(str) if not "__" in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [51]:
name : str = "KANWal"
print(name.capitalize())

Kanwal

In [52]:
name : str = "KANWal"
print(name.upper())

KANWAL

In [53]:
name : str = "KANWal"
print(name.lower())

kanwal

In [59]:
name : str = "KANWaaaaal"
print(name.count("a"))

5

In [61]:
name : str = "KANWal"
print(name.casefold())
# works like lower

kanwal

In [70]:
name : str = "               KANWal              "
print(name.strip())

KANWal

In [72]:
name : str = "-------------KANWal--------------------"
print(name.strip("-"))

KANWal

In [74]:
name : str = "//////////////KANWal//////////////"
print(name.lstrip("/"))

KANWal//////////////

In [75]:
name : str = "//////////////KANWal//////////////"
print(name.rstrip("/"))

//////////////KANWal

In [76]:
name : str = "             KAN                 Wal            "
print(name.strip())

KAN                 Wal

In [85]:
name : str = "             KAN                 Wal            "
print(name.strip())
display(name)

KAN                 Wal

'             KAN                 Wal            '

In [84]:
import re
name : str = "             KAN                 Wal            "
name1 = re.sub(" {2,100}"," ",name)
print(name1)
display(name1)

 KAN Wal

' KAN Wal '

In [93]:
print("Kanwal\tShehzadi\nBSE-6B-\b")
#\n new line
#\t tab space
#\b backspace

Kanwal	Shehzadi
BSE-6B

In [94]:
nostarch_url = "https://nostarch.com"
nostarch_url.removeprefix('https://')

'nostarch.com'

In [96]:
nostarch_url = "https://nostarch.com"
nostarch_url.removesuffix('.com')

'https://nostarch'