### **DICTIONARY**
ORDERED - INDEXED(KEYED) - MUTABLE - ALLOW DUPLICATES

In [ ]:
from typing import Dict
data : Dict[str,str] = {"fname":"Muhammad Fayyaz",
                        "name":"Kanwal",
                        "education":"BSE"}

In [ ]:
data["fname"]

'Muhammad Fayyaz'

In [ ]:
data["gpa"] = "3.98"

In [ ]:
data

{'fname': 'Muhammad Fayyaz',
 'name': 'Kanwal',
 'education': 'BSE',
 'gpa': '3.98'}

In [ ]:
import pprint # for pretty print
pprint.pprint(data)

{'education': 'BSE',
 'fname': 'Muhammad Fayyaz',
 'gpa': '3.98',
 'name': 'Kanwal'}

In [ ]:
from typing import Dict,Union
from pprint import pprint
key = Union[int,str]
values = Union[int,str,list,dict,tuple,set]
data : Dict[key,values] = {"fname":"Muhammad Fayyaz",
                        "name":"Kanwal",
                        "education":"BSE"}
pprint(data)

{'education': 'BSE', 'fname': 'Muhammad Fayyaz', 'name': 'Kanwal'}

In [ ]:
pprint(data['education'])

'BSE'

In [ ]:
from typing import Dict,Union
from pprint import pprint
key = Union[int,str,list]
values = Union[int,str,list,dict,tuple,set]
data : Dict[key,values] = {"fname":"Muhammad Fayyaz",
                        "name":"Kanwal",
                        "education":"BSE",
                        100 : "Hundred"}
pprint(data)

{100: 'Hundred',
 'education': 'BSE',
 'fname': 'Muhammad Fayyaz',
 'name': 'Kanwal'}

In [ ]:
pprint(data[100])

'Hundred'

**Immutable types:**

* int
* float
* string
* tuple

**Immutable collection types:**

* set

These data types are immutable, meaning they cannot be changed after creation. Immutable types are suitable for dictionary keys because they provide a stable hash value, which is necessary for efficient lookups in the dictionary. Lists, dictionaries, and sets are mutable and therefore cannot be used as dictionary keys.

In [ ]:
from typing import Dict
data : Dict[str,str] = {"fname":"Muhammad Fayyaz",
                        "name":"Kanwal",
                        "education":"BSE",
                        "xyz":{'a':1,'b':2}}

In [ ]:
data['xyz']['b']

2

In [ ]:
from typing import Dict,Union
from pprint import pprint
key = Union[int,str,list]
values = Union[int,str,list,dict,tuple,set]
data : Dict[key,values] = {}
data['name'] = "Kanwal"
data['fname'] = "Fayyaz"
data['education'] = 'BSE'
data

{'name': 'Kanwal', 'fname': 'Fayyaz', 'education': 'BSE'}

**DICTIONARY METHODS**

In [ ]:
[i for i in dir(dict) if '__' not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# clear
data.clear()
data

{}

In [ ]:
#copy
from typing import Dict
data1 : Dict[str,str] = {"fname":"Muhammad Fayyaz",
                        "name":"Kanwal",
                        "education":"BSE",
                        "xyz":{'a':1,'b':2}}
data2 = data1 #shallow copy
print(data1)
print(data2)

data2["name"] = "Aown"
print(data1)
print(data2)

{'fname': 'Muhammad Fayyaz', 'name': 'Kanwal', 'education': 'BSE', 'xyz': {'a': 1, 'b': 2}}
{'fname': 'Muhammad Fayyaz', 'name': 'Kanwal', 'education': 'BSE', 'xyz': {'a': 1, 'b': 2}}
{'fname': 'Muhammad Fayyaz', 'name': 'Aown', 'education': 'BSE', 'xyz': {'a': 1, 'b': 2}}
{'fname': 'Muhammad Fayyaz', 'name': 'Aown', 'education': 'BSE', 'xyz': {'a': 1, 'b': 2}}

In [ ]:
from typing import Dict
data1 : Dict[str,str] = {"fname":"Muhammad Fayyaz",
                        "name":"Kanwal",
                        "education":"BSE",
                        "xyz":{'a':1,'b':2}}
data2 = data1.copy() #deep copy
print(data1)
print(data2)

data2["name"] = "Aown"
print(data1)
print(data2)

{'fname': 'Muhammad Fayyaz', 'name': 'Kanwal', 'education': 'BSE', 'xyz': {'a': 1, 'b': 2}}
{'fname': 'Muhammad Fayyaz', 'name': 'Kanwal', 'education': 'BSE', 'xyz': {'a': 1, 'b': 2}}
{'fname': 'Muhammad Fayyaz', 'name': 'Kanwal', 'education': 'BSE', 'xyz': {'a': 1, 'b': 2}}
{'fname': 'Muhammad Fayyaz', 'name': 'Aown', 'education': 'BSE', 'xyz': {'a': 1, 'b': 2}}

In [ ]:
#get
print(data['pakistan'])
#since our data dictionary does not have the key pakistan soitwill  crash the program for graceful termination we
# tend to usethe get method which doesnot cause error

KeyError: 'pakistan'

In [ ]:
print(data.get('pakistan','Not Available'))

Not Available

In [ ]:
#items()

In [ ]:
for d in data1: #gives keys
  print(d)

fname
name
education
xyz

In [ ]:
for d in data1: #gives values
  print(data1[d])

Muhammad Fayyaz
Aown
BSE
{'a': 1, 'b': 2}

In [ ]:
print(data1.keys()) # gives keys

dict_keys(['fname', 'name', 'education', 'xyz'])

In [ ]:
print(data1.values()) #gives values

dict_values(['Muhammad Fayyaz', 'Kanwal', 'BSE', {'a': 1, 'b': 2}])

In [ ]:
# combination of both keys and values is items()

print(data1.items())

dict_items([('fname', 'Muhammad Fayyaz'), ('name', 'Kanwal'), ('education', 'BSE'), ('xyz', {'a': 1, 'b': 2})])

In [ ]:
for k in data1.keys():
  print(k,data1[k])

fname Muhammad Fayyaz
name Aown
education BSE
xyz {'a': 1, 'b': 2}

In [ ]:
for k in data1.values():
  print(k)

Muhammad Fayyaz
Aown
BSE
{'a': 1, 'b': 2}

In [ ]:
for key,value in data1.items():
  print(key,value)

fname Muhammad Fayyaz
name Aown
education BSE
xyz {'a': 1, 'b': 2}

# **Update**

In [ ]:
data['name'] = "Kanwal Shehzadi"
data

{'name': 'Kanwal Shehzadi', 'fname': 'Fayyaz', 'education': 'BSE'}

# **Dictionary Comprehension**

In [ ]:
{key:value for key,value in data1.items()} #: should be placed between key and value

{'fname': 'Muhammad Fayyaz',
 'name': 'Aown',
 'education': 'BSE',
 'xyz': {'a': 1, 'b': 2}}

In [ ]:
{value:key for key,value in data.items()} #: should be placed between key and value

{'Muhammad Fayyaz': 'fname', 'Kanwal': 'name', 'BSE': 'education'}

In [ ]:
#swap

a : int = 7
b : int = 9

a,b = b,a
print(a,b)

9 7

In [ ]:
#fromkeys
keys : list[str] = ['id','name','fname','course']
data : dict[key,value] = {}
data = data.fromkeys(keys)
data

{'id': None, 'name': None, 'fname': None, 'course': None}

**SET**

In [ ]:
data : set = {7,1,2,1,1,1,1,1,3,2}
data

{1, 2, 3, 7}

**SET METHODS**

In [ ]:
[i for i in dir(set) if '__' not in i]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**Convert Set to List & vice versa**

In [ ]:
data : set = {7,1,2,1,1,1,1,1,3,2}
data

{1, 2, 3, 7}

In [ ]:
myList : list[int] = list(data)
myList

[1, 2, 3, 7]

In [ ]:
mySet : set[int] = set(myList)
mySet

{1, 2, 3, 7}